*{
    padding: 0;
    margin: 0;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    list-style: none;
    
   
}

.header-global{
    background-image: url('../images/bord.png');
    height: 100vh;
    display: flex; 
    justify-content: space-between;
    padding: 2%;
}
.logo img{
    width: 60%;
}

.header-global nav a .connexion{
    align-items: center;
    justify-content: center;
    color: white;
    list-style: none;
}
nav a{
    color: white;
    margin: 5px;
    
   
}
.connexion a{
    color: white;
    margin: 5px; 
}

.connexion select{
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.button{
    color: rgba(255, 255, 255, 0.637);
}
.connexion button{
    color: white;
    height: 30px;
    cursor: pointer;
}
.connexion button:hover{
    background-color: orange;
    border-radius: 30px;
}

.header-content{
     
}

.text{
    text-align: center;
    margin: auto;
    margin-top: -500px;
    color: white;
}
.text h1{
    font-weight: bolder;
    font-size: 40px;
}

.text p{
    font-size: 15px;
    font-weight: 100px;
}

.text button{
    border: solid 1px;
    border-color: white;
    color: white;
    width: 180px;
    border-radius: 20px;
    height: 20px;
   
}
.section1{
    display: flex;
    gap: 100px;
    align-items: center;
    padding-left: 100px;
    padding-top: 400px;
}

.photo-sourriant img{
    width: 350px;
}

.feuille P{
    color: #333333; 
}
.cases{
    justify-content: center;
}

.cases h1{
    color: orange;
   
}

.titres{
    display: flex;
    gap: 20px;
}

.para{
    display: flex;
    gap: 20px;
    font-size: 14px;
}
   